<!-- templates/email.html -->
{% extends 'base_template.html' %}

{%  block content %}


  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
          <h1 class="text-center">Contact Us</h1>
      </div>
      <form method="post">
        <div class="form-group">
          {% csrf_token %}
          {{ form.as_p }}
        </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
      </form>
    </div>

  </div>
{% endblock %}
