{% extends 'base_navigation.html' %}


{% block content %}
    <div class="container-fluid">
      <div class="main-title">
          <h1 class="text-center">ABOUT</h1>
      </div>
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <p>
            We strive to offer you quality products and services to help you accelerate and automate the state of your business.
            We assist a variety of different industries, such as hospitality, technological, retail, and personal branding.
            Whether you are starting your own business, portfolio, online store, blog, dealing with tech challenges or upgrading your application,
            we can help you along the way with our team of experts.
          </p>
          <p>
            Founded in 2017 by Pedro Cuji, a recent graduate student as an Electrical and Computer Engineer.
            Pedro is an active systems engineer and entrepreneur that focuses on different technologies, software development, and finally as an FPGA enthusiastic.
          </p>
        </div>
      </div>

      <div class="main-title">
          <h1 class="text-center">Why btekwizard?</h1>
      </div>
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <p>
            We are a small company that achieves big results without the overwhelming marketing and upsale technology gurus. We have personalized one-on-one proposals that will fit your budget and deliver results based on analysis and facts.
          </p>
        </div>
      </div>
      <div class="main-title">
          <h1 class="text-center">What can do for you?</h1>
      </div>
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <p>
            Customize web applications as well as software solutions for your business needs.
          </p>
        </div>
      </div>
    </div>
{% endblock %}
