{% extends 'base_navigation.html' %}


{% block content2 %}


<div class="container-fluid">
  <div class="main-title">
      <h1 class="text-center">Improve the performance of your system</h1>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <p>
      We design or redesign your system to provide the best performance for your application.
      Rebuild your HTML, CSS, JavaScript, Bootstrap and Drupal 8 Application.
    </p>
    <ul>
      <li>Customized add-ons to your web application</li>
      <li>Built-in automation to your current system</li>
    </ul>
    </div>
  </div>


  <div class="main-title">
      <h1 class="text-center">Acceleration of IT systems</h1>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <p>
      If you are unsure of whether your system needs some form of IT acceleration.
    </p>
    </div>
  </div>

  <div class="main-title">
      <h1 class="text-center">Maintenance of your architecture</h1>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <p>
      If you are wondering how to make your application faster and up to date with the new technologies, let us provide our service expertise.
    </p>
    </div>
  </div>


</div>


{% endblock %}
