{% extends 'base_navigation.html' %}


{% block content2 %}


<div class="container-fluid">
  <div class="main-title">
      <h1 class="text-center">Cloud Migration</h1>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <p>
        Let us build, migrate, or manage your application so that you can focus on your business.
        This process involves the following:
      </p>

          <ul>
            <li>Architecture design</li>
            <li> Security</li>
            <li>Migration</li>
            <li>Optimization</li>
          </ul>

    </div>

  </div>

</div>


{% endblock %}
