{% extends 'base_navigation.html' %}


{% block content2 %}



<div class="container-fluid">
  <div class="main-title">
      <h1 class="text-center">Freelancing Services
      </h1>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <p>This service is offered for a variety of applications and small projects, which can range from computer systems to applications with different technologies.
      </p>

      <p>
        Our team of experts are well-versed with several computer languages and technologies including:
      </p>
      <ul>
        <li>Python</li>
        <li>C</li>
        <li>C++</li>
        <li>Verilog </li>
        <li>VHDL</li>
        <li>MatLab</li>
      </ul>
      <ul>
        <li>Ux/Ui design</li>
        <li>Custom management system CSM</li>
        <li>Databases</li>
      </ul>
    </div>
  </div>

</div>



{% endblock %}
