{% extends 'base_navigation.html' %}


{% block content2 %}


<div class="container-fluid">
  <div class="main-title">
      <h1 class="text-center">Our Team</h1>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <p>We are lucky to have experienced front-end and back-end developers.
        Small to large projects are accomplished with a variety of technologies.
        We are a strong group of creative developers that have the end goal of delivering state-of-the-art software technology.
      </p>
      <h3 class="text-center">UI designers</h3>
      <p>
        Our UI team can develop a smooth and user-friendly experience to avoid customer annoyance when interacting with your application.
      </p>
      <h3 class="text-center">UX designers</h3>
      <p>
        UX designers focus on why your product is relevant for them. Their strategies are based on  reaching your goal.
      </p>

      <h3 class="text-center">Project managers</h3>
      <p>
        We can provide you the assistance of a project manager that will coordinate the development of your application, addressing concerns and challenges while coordinating the team.
      </p>

    </div>

  </div>
</div>
{% endblock %}
