{% extends 'base_navigation.html' %}


{% block content2 %}




<div class="container-fluid">
  <div class="main-title">
      <h1 class="text-center">Custom web applications and systems</h1>
  </div>

  <div class="row">
    <div class="col-sm-8 offset-sm-2">

      <p>Modern applications need to be flexible and user-friendly.
        This can range from having a share-server to a cloud-base application that can serve thousands of customers and be ready to scale.
        We can work together to build a road map for your business ideas.
        We can help you decide whether you want to have an application on premise, on the cloud, or a mixture of both.
        We offer front-end, back-end, and database development.
        We will put together web application architecture that works for your business.
      </p>
    <h3 class="text-center">Why use our service?</h3>
      <p>We offer consultant and software solutions that minimize the cost by using open source and private tools with ample flexibility.
        We want you to own your brand! Third party applications, such as Wix or Squarespace, can be limiting, expensive in the long-term, and time-consuming because they focus on upselling and creating static webpages.
        Their business model is base on one-size-fits all.
        Your business is growing and you want a website that can grow with it!  We offer modern designs, multiple interfaces, and responsive applications that will make your business stand out from the crowd.
      </p>
    <p>
      We make IT infrastructure and automation easy.
      We can help you create a dynamic website with a content management system that can allow you to change basic structures to keep your website fresh and scalable to your needs.
      We can build a custom management system that matches our client’s needs.
    </p>

    <p>
      Btekwizard integrates DevOps to make your business evolve faster. Transform your customer’s digital experience by using the right technology.
      Hit your market faster by saving costs and time with our experience with our non-corporate technological services.
    </p>
    </div>
  </div>

</div>


{% endblock %}
